.sectionTitle {
    font-size: 1.25rem;
    font-weight: 700;
    color: #111827;
}

.seeAll {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}