.sectionTitle {
    font-size: 1.25rem;
    font-weight: 700;
    color: #111827;
}

.seeAll {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
}

.categoryGrid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;
    /* Minimal padding within the flex container */
    gap: 8px;
    /* Added gap based on gap in Link */
}

.categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.categoryCircle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

.categoryIcon {
    font-size: 1.5rem;
}

.categoryName {
    font-size: 0.85rem;
    font-weight: 500;
    color: #374151;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}