.searchContainer {
    display: flex;
    align-items: center;
    background-color: #F3F4F6;
    /* Gray-100 */
    padding: 12px 16px;
    border-radius: 16px;
    margin-bottom: 24px;
    border: 1px solid #E5E7EB;
    cursor: text;
}

.icon {
    margin-right: 10px;
}

.text {
    color: #9CA3AF;
    font-size: 1rem;
}